/* COLORS */
/*
    BLACK: #000;
    WHITE: #fff;
    GOLD: #d3b114;
    DARK-GREEN: #002a14;
    LIGHT-PURPLE: #d7d9ff;
*/

$color-black: #000;
$color-white: #fff;
$color-gold: #d3b114;
$color-green:  #002a14;
$color-purple: #d7d9ff;

// Box shadow
$color-box-shadow: #535353;
