@keyframes slideInLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  90% {
    transform: translateX(3px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes cartCollapse {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
